@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #FFFFFF;
    margin: 0;
}

.body-content {
    width: 1200px;
    margin: 0 auto;
}


.visually-hidden {
    display: none;
}


/*header*/

.navigation {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1060px;
}

.navigation-link {
    color:#000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    
}

.navigation-list {
    list-style:none;
    width: 310px;
    margin: 0;
    padding: 0;
}

.navigation-user {
    display: flex;
    justify-content: flex-end;
    list-style:none;
    width: 310px;
    margin: 0;
    padding: 0;
}

.navigation-button {
    font-size: 16px;
    font-weight: 700;
    background-color: #756257;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 29px 10px 29px;
    border-radius: 4px;
    border: none;
    
}


/*main*/
.intro {
    background-image: url(../img/index-background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: aqua;
}

.intro-img {
    display: block;
    margin:0 auto;
}

.promo {
    text-align: center;
}
.promo-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
}
.promo-better {
    font-size: 22px;
    line-height: 36px;
    color:#333333;
}

/* advantages */

.advantages {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: auto;
}

.advantages-list:nth-child(3) {
    order: 1;
}

.advantage-text {
    color: #333333;
}

.advantages-img {
    min-width: 800px;
    height: 400px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    list-style:none;
    margin: 0;
    padding: 0;
}

.advantages-item, .more-advantage {
    width: 400px;
    display: inline-block;
}

.advantage-title {
    text-transform: uppercase;
}

.advantage-color {
   background-color: rgba(131, 179, 211, 0.12);
}
.advantage-blue {
    display: flex;
    margin: 0;
    width: 1200px;
    background-color: #83B3D3;
    color: #FFFFFF;
}

.more-advantage {
    background-color: rgba(131, 179, 211, 0.12);
}
.more-advantage-item{
    background-color:rgba(131, 179, 211, 0.2);
}

.hotel-search {
    text-align: center;
}

.search-question {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
}

.search-date {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

.hotel-button {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
    background-color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}


.hotel-button {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #756257;
    width: 575px;
    height: 60px;
    border-radius: 10px;
}

.subscription {
    text-align: center;
    background-image: url(../img/subscription.jpg);
    background-color: #000000;
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #FFFFFF;
}

.subscription-catalog {
    text-align: center;
}

.subscribe-mailing {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.useful-information {
    font-size: 22px;
    line-height: 26px;
}

.name-field {
    display: flex;
    width: 800px;
    margin: auto;
}

.subscribe {
    background: #83B3D3;
    border-radius: 0px 10px 10px 0px;
    border: 0;
    padding: 0;
    width: 200px;
    height: 60px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;

} 

.subscribe:hover {
    cursor: pointer;
}

.email {
    background: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    border: 0;
    padding: 0;
    width: 600px;
    height: 60px;
}

/*footer*/

.footer-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts-phone {
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #000000;
}

/*catalog*/

/*main*/
.filters-background {
    display: flex;
    flex-wrap: wrap;
    background-image: url("../img/catalog-background 1.jpg");
    background-color: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #FFFFFF;
}

.filters {
    width: 1060px;
    margin: 0 auto;
}

.filters-title {
    width: 100%;
    margin: 0;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs-list {
    display: inline;
    width: 100%;
    height: 25px;
}

.breadcrumbs-item {
    display: inline;
}

.breadcrumbs-item a {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 21px;
}

.settings {
    display: flex;
    flex-wrap: wrap;
}

.container-checkbox {
    margin-right: 70px;
}

.checkbox-set {
    display: block;
    width: 150px;
    list-style: none;
}

.title-set, .cost-title {
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.radio-list {
    font-size: 18px;
    line-height: 23px;
    list-style: none;
}

.container-cost {
    display: flex;
    width: 530px;
    margin-left:auto;
}

.value-filter > input {
    background-color: transparent;
    border-color: #FFFFFF; 
}

.accept {
    background: #83B3D3;
    border-radius: 4px;
    border: none;
    width: 160px;
    height: 48px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.accept:hover {
    background: #68A2CA;
    border-radius: 4px;
}

.accept:focus {
    background: #68A2CA;
    border: 3px solid #FFFFFF;
    border-radius: 4px;
}

.accept:active {
    background: #68A2CA;
    border-radius: 4px;
}

.reset {
    background-color: transparent;
    border: 0;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 23px;
}

.container-catalog {
    width: 1060px;
    margin: 0 auto;
}

.sorting {
    display: flex;
    justify-content: space-between;

}

.sorting-hotels {
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
}

.sorting-content {
    width: 287px;
    height: 48px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    color: #333333;
    font-size: 18px;
    line-height: 23px;
}

.sorting-content option {
    color: #333333;
    font-size: 18px;
    line-height: 23px;
}

.layouts-list {
    display: flex;
    list-style: none;
}

.item-card {
    display: flex;
    height: 125px;
    width: 100%;
    
}

.item-card p {
    display: inline;
    margin: 0;
    color: #333333;
}

.line {
    color: #E5E5E5;
    size: 1px;
    margin: 30px 0px 30px 0px;
}

.grid-1 {
    display: flex;
    flex-direction: column;
    margin-left: 37px;
}

.grid-2 {
    display: flex;
    flex-direction: column;
}
        .grid-2 p {
            margin-top: auto;
        }

.grid-3 {
    display: flex;
    flex-direction: column;
    margin-left: auto;

}

.more-detailed {
    margin-top: auto;
}

.favourites {
    margin-top: auto;
}
*/
.hotel-title {
    display: inline;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    margin: 0;
}

.rating {
    background: #F2F2F2;
    border-radius: 4px;
    width: 160px;
    height: 37px;
    text-transform: uppercase;
    color: #333333;
}

.more-detailed {
    background: #756257;
    border-radius: 4px;
    width: 151px;
    height: 37px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
}
.favourites {
    background: #83B3D3;
    border-radius: 4px;
    width: 151px;
    height: 37px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
}

.download-button {
    width: 630px;
    margin: 0 auto;
}

.download-more {
    background: #83B3D3;
    border-radius: 4px;
    padding: 15px 240px 15px 240px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

.pagination-list {
    display: flex;
}

.pagination-list ul {
    list-style: none;
    display: flex
}

.pagination-item {
    margin: 8px;
}

.pagination-figure {
    display: inline-block;
    color: #FFFFFF;
    background: #83B3D3;
    border-radius: 4px;
    padding: 16px 23px 16px 23px;
}


.lot {
    font-size: 18px;
    line-height: 23px;
    margin-left: auto;
    margin-right: 50px;
    align-items: center;
}

.pagination select {
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    width: 160px;
    height: 48px;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}